 <section id="intro" class="intro-section animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Hello! My name is Carlos Ortega!</h1>
                        <h3>Surfing through the web I was amazed by your company philosophy, and I said to myself, <em>I want to work with those guys!!!</em></h3> 
                        <br/> 
                        <h3>I have a particular set of skills developed during the last five-ish years, and we are more than our resume, right? So I decided to explain a little bit more my qualifications!<h3/> 
                        <h2>Thanks!, you rock!!!</h2>
                    
                </div>
            </div>
        </div>
    </section>