
<section id="master" class="master-section" >
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1> Section</h1>
              
          </div>
      </div>
  </div>
</section>