
<section id="photo" class="photo-section" >
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <p> I always had a passion for photography, specially since I have developed a keen eye for details as a designer. I believe is important to highlight what makes your product so important and special. </p>
              
          </div>
      </div>
  </div>
</section>