@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #FFF;
$font-family-sans-serif:                'Lato', 'Helvetica', sans-serif;
$navbar-inverse-bg: #6C7A89;
$navbar-inverse-link-color: #FFF;
$navbar-inverse-link-hover-color: #E4F1FE;
$navbar-inverse-brand-hover-color: #E4F1FE;


@import 'bootstrap';


.textcenter {
	text-align: center;
}

.navbar-brand {
     font-weight: lighter;
}

.vcenter {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.footer {
  position: fixed;
  bottom: 0;
	width: 100%;
	background-color: #FFF;
	height: 50px;
	border-top: 2px #FFFFFF solid;
}

.footer p{
	padding-top: 5px;
  color: #2980b9;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}
